
<div class="sidenav">
    <ul>
        <li>
            <a  asp-controller="Courses" asp-action="Index">All Courses</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Index">All Students</a>
        </li>
        <li>
            <a asp-controller="Modules" asp-action="Index">Modules</a>
        </li>
        <li>
            <a asp-controller="Activities" asp-action="Index">Activities</a>
        </li>
        <li>
            <a asp-controller="Documents" asp-action="Index">All Documents</a>
        </li>
    </ul>
</div>

