body {
    background-image: url('../img/bg04.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.lms-admin {
    display: flex;
}
    .lms-admin main {
        min-width: calc(100% - 155px);
        background-color: rgba(237, 237, 237, 0.79);
        padding: 20px;
        border-radius: 4px;
    }

.sidenav {
    min-width: 155px;
    background-color: rgba(237, 237, 237, 0.79);
    padding: 20px;
    margin-right: 20px;
    border-radius: 4px;
}

.bg-light {
    background-color: #e2e2e2 !important;
}
