.lms-admin {
    display: flex;
}
    .lms-admin main {
        min-width: calc(100% - 155px);
    }

.sidenav {
    min-width: 155px;
    background: #eee;
    padding: 20px;
    margin-right: 20px;
}
