@model IEnumerable<CoreLMS.Core.ViewModels.CourseStudents>

    <h3>List Of Course Participents</h3>
    <div>

        foreach (var item in Model)
        {
            <p>item.FullName</p>
        }
    </div>