@model CoreLMS.Core.Models.Document


@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Document</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DocumentId" />
            <input type="hidden" asp-for="LMSUserId" />
            <input type="hidden" asp-for="UploadTime" />
            <input type="hidden" asp-for="DocumentPath" />
            <div class="form-group">
                <label asp-for="DocumentName" class="control-label"></label>
                <input asp-for="DocumentName" class="form-control" />
                <span asp-validation-for="DocumentName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TypeOfDocument" class="control-label"></label>
                <select asp-for="TypeOfDocument" class="form-control" asp-items="@Html.GetEnumSelectList<TypeOfDoc>()"></select>
                <span asp-validation-for="TypeOfDocument" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="LMSUserId" class="control-label"></label>
            <select asp-for="LMSUserId" class="form-control" asp-items="ViewBag.LMSUserId"></select>
            <span asp-validation-for="LMSUserId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModuleId" class="control-label"></label>
                @Html.DropDownListFor(m => m.ModuleId, new SelectList(""), "---Select modules---", new { @class = "form-control" })

            </div>
            <div class="form-group">
                <label asp-for="ActivityId" class="control-label"></label>
                @Html.DropDownListFor(m => m.ActivityId, new SelectList(""), "---Select Activities---", new { @class = "form-control" })

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
